.testimonials {
    background-color: #a2bbbb;
    padding: 50px 0;
    text-align: center;
}

.testimonials h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 40px;
}

.testimonial-slider {
    overflow: hidden;
    position: relative;
}

.testimonial-slide-wrapper {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.testimonial-slide {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.video-row,
.feedback-row {
    margin-bottom: 40px;
}

.feedback-item {
    width: 250px;
    height: 400px;
    margin: 10px;
    text-align: center;
}

.video-item {
    width: 250px;

    margin: 10px;
    text-align: center;
}


.video-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.owner {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* Feedback Section */
.feedback-item {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.feedback-icon {
    width: 50px;
    margin-bottom: 10px;
}

.feedback-owner {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.rating {
    color: gold;
    font-size: 20px;
    margin-top: 10px;
}

.more-feedback {
    margin-top: 15px;
    font-size: 20px;
    color: #080808;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}


/* Slider Dots */
.slider-dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active {
    background-color: #717171;
}

.dot:hover {
    cursor: pointer;
    background-color: #333;
}

.r1 {

    color: #ccc;
    font-size: 20px;


}